.award-list-items-area {
    .award-list-items-items {
        position: relative;
        display: flex;
        align-items: end;
        justify-content: space-between;
        border-bottom: 1px solid rgba(217, 217, 217, 0.13);
        padding-bottom: 60px;
        margin-bottom: 60px;

        @include media-breakpoint-down (sm){
           display: block;
        }

        .content-items {
            max-width: 370px;
            display: flex;
            align-items: end;
            justify-content: space-between;
            width: 100%;

            .year {
                color: var(--theme-color1);
                font-size: 16px;
                font-weight: 600;
            }
        }

        .content {
            h6 {
                font-weight: 500;
                color: var(--theme-color-white);
                font-size: 24px;

                span {
                    font-size: 16px;
                    font-weight: 400;
                    font-family: var(--body-font-family);
                    color: var(--text-color);
                }
            }

            .title {
                color: var(--theme-color-white);
                transition: all .4s ease-in-out;
            }
        }

        .arrow-icon {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            line-height: 45px;
            background-color: var(--theme-color3);
            color: var(--theme-color-white);
            text-align: center;
            display: inline-block;

            @include media-breakpoint-down (sm){
                margin-top: 30px;
            }

            i {
                transform: rotate(-45deg);
            }
        }

        .hover-image {
            width: 268px;
            height: 190px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(15deg);
            inset-inline-start: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: 75%;
            opacity: 0;
            transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
            margin: -200px 0 0 -50px;
            overflow: hidden;
            pointer-events: none;
            z-index: 999;
            border-radius: 16px;
            visibility: hidden;
        }

        &:hover {
            .hover-image {
                opacity: 1;
                visibility: visible;
            }
        }

        &.active {
             .content {
                .title {
                    color: var(--theme-color1);
                }
            }

            .arrow-icon {
                background-color: var(--theme-color1);
                color: var(--headings-color);
            }
        }
    }
}

.award-section1  {
    position: relative;
    z-index: 9;

    .award1-ellipse1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .shape1 {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.award-section-3 {
    position: relative;
    z-index: 9;

    .award-light3 {
        position: absolute;
        top: -60%;
        right: 0;
        z-index: -1;
    }
}