.news-box-items {
    position: relative;
    z-index: 99;
    margin-top: 30px;
    @include media-breakpoint-down (md){
        margin-bottom: 20px;
    }

    .thumb {
        overflow: hidden;
        position: relative;
        border-radius: 30px;

        img {
           width: 100%;
           height: 100%;
             border-radius: 30px;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }

        .user-box {
            display: inline-block;
            font-weight: 400;
            font-size: 14px;
            padding: 20px 30px;
            background-color: var(--theme-color-black);
            position: absolute;
            line-height: 1;
            bottom: 25px;
            left: 25px;
            text-transform: uppercase;
            font-family: var(--heading-font-family);
            z-index: 99;
            border-radius: 32px;
            color: var(--theme-color-white);

            span {
                color: var(--theme-color1);
            }
        }
    }

    .content {
        margin-top: 20px;
        position: relative;
        z-index: 99;

        .title {

            @include media-breakpoint-down (xxl){
                font-size: 20px;
            }

            @include media-breakpoint-down (xl){
                font-size: 20px;
            }

           a {
                text-transform: capitalize;
                background-position: 0 95%;
                  background-repeat: no-repeat;
                  background-size: 0% 2px;
                  display: inline;

                  &:hover {
                      color: var(--theme-color1);
                      background-size: 100% 2px;
                      background-image: linear-gradient(180deg, var(--theme-color1) 0%, var(--theme-color1) 100%);
                  }
           }
        }

        .link-btn {
            display: inline-block;
            color: var(--theme-color-white);
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px;
            position: relative;
            z-index: 99;

            i {
                margin-left: 8px;
                transform: rotate(-45deg);
                transition: all .4s ease-in-out;
            }

            &:hover {
                color: var(--theme-color1);

                i {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &:hover {
          .thumb {
            img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            } 
        }
    }
}

.news-section {
    margin: 0 100px;

     @include media-breakpoint-down (xxxl){
      margin: 0 50px;
    }

    @include media-breakpoint-down (xxl){
      margin: 0 40px;
    }

     @include media-breakpoint-down (xl){
      margin: 0 20px;
    }
}

.news-section2 {
    position: relative;
    z-index: 99;
}


.news-block-two {
    position: relative;
    margin-top: 30px;
    .image {
        width: 100%;
        height: 405px;
        position: relative;
        overflow: hidden;
        border-radius: 40px;
        img {
            background-size: cover;
            border-radius: 40px;
            @include imgw;
            transition: 0.5s;
            &:nth-child(1){
                filter: blur(10px);
                opacity: 0;
                transform: translatex(50%) scalex(2);
            }
            &:nth-child(2){
                bottom: 0;
                object-fit: cover;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    .content {
        overflow: hidden;
        padding: 30px 115px 45px 40px;
        bottom: -90px;
        right: 0;
        position: absolute;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.13);
        background: rgba(21, 21, 21, 0.46);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
        @include transition;
        @supports not (backdrop-filter: blur(1px)) {
            background: rgba(21, 21, 21, 0.75); /* solid fallback */
        }
        @include media-breakpoint-down(lg) {
            padding: 30px 40px 45px 40px;
            width: 100%;
        }
        @include media-breakpoint-down(md) {
            position: relative;
            bottom: 0;
        }
        .tag {
            color: #D9D9D9;
            font-size: 14px;
            font-weight: 500;
            text-transform: capitalize;
            padding-bottom: 10px;
            position: relative;
        }
        .title {
            padding: 20px 0;
            color: var(--theme-color-white);
            font-weight: 500;
            line-height: 32px;
            text-transform: capitalize;
            max-width: 450px;

            a {
                color: var(--theme-color-white);
                background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95%/0px 1px no-repeat;
                transition: all 500ms ease;
            }
            &:hover {
                a {
                    background-size: 100% 1px;
                    color: var(--theme-color1);
                }
            }
        }

        .link-btn {
            color: var(--theme-color-white);
            display: flex;
            align-items: center;
            gap: 8px;

            &:hover {
                color: var(--theme-color1)
            }
        }
    }
    .num {
        @include icon;
        width: 100px;
        height: 100px;
        background-color: var(--theme-color-white);
        color: var(--theme-color-black);
        font-size: 50px;
        font-weight: 500;
        line-height: 1;
        border-radius: 20px;
        letter-spacing: -1.5px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    &.style-2 {
        .image {
            height: 405px;
        }
        .content {
            overflow: hidden;
            padding: 60px;
            padding-bottom: 37px;
            padding-top: 35px;
            top: 0;
            margin-top: -90px;
            position: relative;
            border-radius: 40px;
            background: var(--theme-color-black);
            backdrop-filter: blur(0);
            transition: all 400ms ease-in-out;
            @include media-breakpoint-down (xl){
                padding: 26px;
            }

            .title {
                padding-top: 10px;
            }
            
            .tag {
                padding-bottom: 0;
            }

            .link-btn {
                color: var(--theme-color-white);

                i {
                    color: var(--theme-color1);
                    transition: all .4s ease-in-out;
                }

                &:hover {
                    color: var(--theme-color1);

                    i {
                        transform: rotate(-45deg);
                    }
                }
            }
           
        }
        &:hover {
            .content {
               
                &:before{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &:hover {
        .image {
            img {
                 &:nth-child(1) {
                    transform: translatex(0) scalex(1);
                    opacity: 1;
                    filter: blur(0);
                }
                &:nth-child(2) {
                    transform: translatex(-50%) scalex(2);
                    opacity: 0;
                    filter: blur(10px);
                }
            }
        }
    }
}

.news-block-items-3 {
    margin-top: 30px;
    
    .thumb {
         border-radius: 30px;
         position: relative;
         overflow: hidden;

        img {
            border-radius: 30px;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }
    }

    .content {
        padding: 35px 40px;
        background-color: var(--theme-color-black);
        border-radius: 40px;
        border: 1px solid rgba(255, 255, 255, 0.13);
        margin-top: -60px;
        position: relative;
        z-index: 99;
        transition: all .4s ease-in-out;

        .post-text {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            color: var(--theme-color1);
            margin-bottom: 10px;
        }

        .title {
            text-transform: capitalize;

             a {
                text-transform: capitalize;
                background-position: 0 95%;
                  background-repeat: no-repeat;
                  background-size: 0% 2px;
                  display: inline;

                  &:hover {
                      color: var(--theme-color1);
                      background-size: 100% 2px;
                      background-image: linear-gradient(180deg, var(--theme-color1) 0%, var(--theme-color1) 100%);
                  }
           }
        }

        .theme-btn-main {
            display: inline-flex;
            align-items: center;
            gap: 0px;
            position: relative;
            transition: all 400ms ease;
            margin-top: 20px;

            .theme-btn {
                height: 43px;
                line-height: 43px;
                padding: 0 20px !important;
            }

            .theme-btn-arrow-left {
                height: 43px !important;
                line-height: 43px !important;
                padding: 0;
                width: 43px !important;
            }

            .theme-btn-arrow-right {
                height: 43px !important;
                line-height: 43px !important;
                padding: 0;
                width: 43px !important;
            }

        &:hover {
            .theme-btn-arrow-left {
            scale: 1;
            }
            .theme-btn-arrow-right {
            scale: 0;
            }
            .theme-btn {
                transform: translateX(44px);
            }
        }

        .theme-btn-arrow-left,
        .theme-btn-arrow-right {
            width: 46px;
            height: 46px;
            line-height: 1;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            color: var(--theme-color1);
            border-radius: 50%;
            transition: 0.4s;
            border: 1px solid var(--theme-color1);
            i {
            rotate: -30deg;
            }
            &.theme-btn-arrow-small {
            width: 40px;
            height: 40px;
            }
            &.black-arrow {
            background: var(--theme-color-black);
            color: var(--theme-color1);
            }
            &.transparent-arrow {
            border: 1px solid var(--theme-color1);
            background: transparent;
            color: var(--theme-color1);
            }
        }

        .theme-btn-arrow-left {
            scale: 0;
            left: 0;
            right: auto;
            position: absolute;
        }
        .theme-btn {
            background: var(--theme-color1);
            color: var(--theme-color-black);
            font-weight: 700;
            font-size: 14px;
            padding: 12px 30px;
            display: inline-flex;
            align-items: center;
            gap: 30px;
            border-radius: 40px;
            transition: 0.4s;
            
        }

        }
    }

    &:hover {
        .thumb {
              img {
                &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            } 
        }

        .content {
            background: rgba(21, 21, 21, 0.46);
            border: 1px solid rgba(255, 255, 255, 0.13);
            backdrop-filter: blur(25px);
        }
    }
}

.news-section-3 {
    position: relative;

    .news-vec {
        position: absolute;
        bottom: 0;
        left: -30px;
    }

    .news-vec2 {
        position: absolute;
        top: 5%;
        right: 5%;
    }
}
