.project-box-items-5 {
    .thumb {
        overflow: hidden;
        position: relative;
        border-radius: 30px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            display: block;
            object-fit: cover;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;

            &:first-child{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                -webkit-transform: translateX(50%) scaleX(2);
                transform: translate(50%) scaleX(2);
                opacity: 0;
                -webkit-filter: blur(10px);
                filter: blur(10px)
            }
        }

        .arrow-icon {
            display: inline-block;
            width: 170px;
            height: 170px;
            line-height: 170px;
            text-align: center;
            background-color: var(--theme-color1);
            color: var(--theme-color-white);
            border-radius: 50%;
            font-size: 35px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            opacity: 0;
            visibility: hidden;
            z-index: 99;
            transition: all 500ms ease;

            @include media-breakpoint-down (xl){
                width: 80px;
                height: 80px;
                line-height: 80px;
                font-size: 16px;
            }

            &:hover {
                background-color: var(--theme-color-black);
            }
        }
    }

    .content {
        margin-top: 25px;

        .title {
            a {
                  background-position: 0 95%;
                  background-repeat: no-repeat;
                  background-size: 0% 2px;
                  display: inline;

                  &:hover {
                      color: var(--theme-color1);
                      background-size: 100% 2px;
                      background-image: linear-gradient(180deg, var(--theme-color1) 0%, var(--theme-color1) 100%);
                  }
              }
        }

        .catogory-box {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 14px;

            a {
                display: inline-block;
                background: rgba(255, 255, 255, 0.15);
                height: 35px;
                line-height: 35px;
                padding: 0 20px;
                border-radius: 18px;
                color: var(--theme-color-white);
                transition: all .4s ease-in-out;

                &:hover {
                    background-color: var(--theme-color1);
                }
            }
        }
    }

    &:hover {
        .thumb {
            img {
                 &:first-child {
                    -webkit-transform: translateX(0) scaleX(1);
                    transform: translate(0) scaleX(1);
                    opacity: 1;
                    -webkit-filter: blur(0);
                    filter: blur(0)
                }

                &:nth-child(2){
                    -webkit-transform: translateX(-50%) scaleX(2);
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                }
            }
        }

        .arrow-icon {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, -50%) scale(1);
        }
    }

    &.style-2 {
        margin-top: 100px;

        @include media-breakpoint-down (lg){
            margin-top: 40px;
        }
    }
}

.projects-section-5 {
    position: relative;

    .project-title {
        font-weight: 600;
        font-size: 220px;
        text-transform: uppercase;
        font-family: var(--body-font-family);
        position: absolute;
        bottom: 28%;
        left: 0;
        right: 0;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: var(--theme-color-white);
        opacity: .21;
        transform: rotate(-38.85deg);

        @include media-breakpoint-down (xxxxl){
            font-size: 160px;
        }
    }

    .project-light {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
}


.project-block-wrapper-4 {
    transition: .4s;
    display: flex;
    width: initial !important;
    flex-direction: row;
    gap: 24px;
    margin-top: 70px;

    @include media-breakpoint-down (lg){
        display: grid;
        margin-right: 0 !important;
        gap: 0;
    }
}

.project-block-box-4 {
    position: relative;
    width: 290px;
    height: 545px;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    overflow: hidden;
    margin-top: 30px;

    @include media-breakpoint-down (lg){
        width: initial !important;
        max-width: 100% !important;
        height: 500px;
    }


    &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 0;
        background: linear-gradient(358.66deg, #FFAA17 4.71%, rgba(0, 0, 0, 0) 92.56%);
        border-radius: 30px;
        visibility: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .tag-wrap {
        display: flex;
        align-items: center;
        position: absolute;
        top: -130px;
        left: 30px;
        z-index: 22;
        gap: 8px;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-in-out;
        
        @include media-breakpoint-down (sm){
            left: 20px;
            right: 20px;
            flex-wrap: wrap;
        }

        .tag {
            display: inline-block;
            background-color: var(--theme-color-white);
            color: #151515;
            border-radius: 40px;
            padding: 14px 22px;
            line-height: 1;
            font-size: 14px;
            font-weight: 600;

            &:hover {
                background-color: var(--theme-color1);
            }
        }
    }

    .project-content {
        position: absolute;
        bottom: -170px;
        left: 50px;
        right: 50px;
        max-width: 430px;
        z-index: 99;
        opacity: 0;
        visibility: hidden;

        @include media-breakpoint-down (xxl){
            left: 35px;
            right: 35px;
            max-width: 340px;
        }
        
        @include media-breakpoint-down (xl){
            right: 20px;
            left: 20px;
            max-width: 315px;
        }

         @include media-breakpoint-down (lg){
            right: 30px;
            left: 30px;
            max-width: 550px;
            padding-right: 30px;
        }

        p {
            color: #0F0B19;
            margin-bottom: 5px;
            font-weight: 500;
        }

        .title {
            font-size: 35px;
            font-weight: 500;

            a {
                color: var(--theme-color-black);
            }
        }
    }

    &.active {
        width: 845px !important;

        @include media-breakpoint-down (lg){
            width: initial !important;
        }

        &::after {
            opacity: 1;
            visibility: visible;
        }

        .tag-wrap {
            top: 30px;
            opacity: 1;
            visibility: visible;
        }

        .project-content {
            -webkit-transition: all .8s ease-in-out;
            transition: all .8s ease-in-out;
            opacity: 1;
            visibility: visible;
            bottom: 50px;

             @include media-breakpoint-down (xl){
                bottom: 20px;
            }

             @include media-breakpoint-down (lg){
                bottom: 30px;
            }
        }
    }
}

.project-section-4 {
    .container-fluid {
         @include media-breakpoint-down (xxxl){
            padding: 0 40px;
        }

        @include media-breakpoint-down (xxl){
            padding: 0 30px;
        }

         @include media-breakpoint-down (xl){
            padding: 0 20px;
        }
    }
}