.clients-section-1 {
  position: relative;

  .anim-icons{
    pointer-events: none;
    .image-1{
      position: absolute;
      top: -10px;
      right: 0;
      z-index: -1;
    }
  }
  .brand-outer-box {
    border-top: 1px solid #303030;
    border-left: 1px solid #303030;
  }
}

.clients-section-1 {
  position: relative;
  z-index: 9;

   .ellipse-1 {
       position: absolute;
      top: -30%;
      left: -8%;
      z-index: -1;
  }

  .ellipse-2 {
       position: absolute;
      bottom: -30%;
      right: 0;
      z-index: -1;
  }

  .object-1 {
    position: absolute;
    bottom: -130px;
    left: 0;
  }
}

// Client Block
.client-block-two {
  border-right: 1px solid #303030;
  border-bottom: 1px solid #303030;

  .inner-box {
    padding: 10px;
    min-height: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      .image-box {
        .image {
          img {
            filter: invert(1) brightness(1);
          }
        }
      }
    }
    .image-box {
      .image {
        text-align: center;
        margin: 0;
        display: flex;
        justify-content: center;
        img {
          opacity: 1;
          width: auto;
          @include transition(all 300ms ease);
        }
      }
    }
  }
}

.clients-wrapper {
   border-radius: 30px;
   position: relative;
   overflow: hidden;
   z-index: 99;
    margin: 0 100px;

     @include media-breakpoint-down (xxxl){
      margin: 0 50px;
    }

    @include media-breakpoint-down (xxl){
      margin: 0 40px;
    }

     @include media-breakpoint-down (xl){
      margin: 0 20px;
      padding-left: 15px;
      padding-right: 15px;
    }

   .line-shape {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;

    img {
      height: 100%;
    }
   }

   .client-shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
   }
}

.brand-box-1 {
    height: 125px;
    line-height: 125px;
    border: 1px solid rgba(179, 181, 180, 0.14);
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: var(--body-bg);

    .brand-img-1 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
        opacity: 0.3;
        transition: all 0.6s ease; // smooth animation
        transform: translateY(0);
        }

        &:last-child img {
        transform: translateY(-350%);
        opacity: 0;
        }
    }

    &:hover {
        .brand-img-1:first-child img {
        transform: translateY(100%);
        opacity: 0;
        }

        .brand-img-1:last-child img {
        transform: translateY(0);
        opacity: 1;
        }
    }
}

.brand-partner-section {
  position: relative;

  .brand-shape2 {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.client-block3 {
   
    .inner-box {
        &:hover {
            .image-box {
                .image {
                    img{
                        &:nth-child(1) {
                            transform: translatex(0) scalex(1);
                            opacity: 1;
                            filter: blur(0);
                        }
                        &:nth-child(2) {
                            transform: translatex(-50%) scalex(2);
                            opacity: 0;
                            filter: blur(10px);
                        }
                    }
                }
            }
        }
        .image-box {
            .image {
                margin-bottom: 0;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  filter: brightness(2) saturate(0);
                  opacity: .3;
                }
                img {
                    background-size: cover;
                    transition: 0.5s;
                    max-width: 210px;
                    &:nth-child(1){
                        transform: translatex(50%) scalex(2);
                        opacity: 0;
                        filter: blur(10px);
                    }
                    &:nth-child(2){
                        position: absolute;
                        top: 0;
                        left: 50%;
                        object-fit: cover;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}

.clients-section3 {
    padding: 120px 0;
    position: relative;
    @include media-breakpoint-down(xl){
        padding: 100px 0;
    }

    @include media-breakpoint-down(lg){
        padding: 80px 0;
    }
    .client-title {
        color: var(--theme-color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 2px;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 50px;
        img {
            position: relative;
            top: -4px;
        }
    }
    .outer-box {
        position: relative;
        border-bottom: 1px solid rgba(217, 217, 217, 0.11);
        padding-bottom: 55px;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            height: 60px;
            background: linear-gradient(270deg, #0D0D0D 28.33%, rgba(13, 13, 13, 0) 100%);
            width: 207px;
            z-index: 2;
            pointer-events: none;
            @include media-breakpoint-down(lg){
                display: none;
            }
        }
        &:after {
            position: absolute;
            content: '';
            right: 0;
            bottom: 0;
            height: 60px;
            background: linear-gradient(270deg, #0D0D0D 28.33%, rgba(13, 13, 13, 0) 100%);
            width: 207px;
            z-index: 2;
            pointer-events: none;
            @include media-breakpoint-down(lg){
                display: none;
            }
        }
    }
    .swiper-horizontal {
        padding: 0;
    }

    .brand-shape {
      position: absolute;
      top: 0;
      left: 0;
    }
}


.clients-section-4 {
  .client-outer4 {
    margin: 0 60px;
    background-color: #121310;
    border-radius: 30px;

    @include media-breakpoint-down (xxxl){
      margin: 0 40px;
    }

    @include media-breakpoint-down (xxl){
      margin: 0 30px;
    }

    @include media-breakpoint-down (xl){
      margin: 0 20px;
    }

    .client-title {
      padding: 0 30px;
      text-align: center;
      color: var(--theme-color-white);
      margin-bottom: 45px;

      span {
        color: var(--theme-color1);
      }
    }
  }
}