/*** 

====================================================================
Section Title
====================================================================

***/

.section-title {
    position: relative;
    // @include media-breakpoint-down(xxs) {
    //     text-align: center;
    // }
    .sub-title {
        margin-bottom: 5px;
        
        svg{
            color: var(--theme-color1);
            margin-top: -2px;
            margin-right: 5px;
        }
        span {
  
            color: var(--theme-color-white);
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }
    }
    .title {
        color: var(--theme-color-white);
        line-height: 110%;
        letter-spacing: -1.5px;
        @include media-breakpoint-down(md) {
            font-size: 40px;
            line-height: 50px;
        }
        @include media-breakpoint-down(xxs) {
            font-size: 35px;
            line-height: 40px;
        }
        span {
            color: var(--theme-color1);
            font-weight: 400;
            font-style: italic;
            font-family: var(--style-font);
        }
    }

    &.style-5 {
        .title {
            font-size: 60px;
            line-height: 114%;

            span {
                font-family: var(--heading-font-family);
            }
        }
    }
}

.section-title-area {
    @include flex-between;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: 30px;
}
