.testimonial-one {
  position: relative;
  z-index: 1;
  @include media-breakpoint-down(sm) {
    margin: 0;
  }

  .bg-shape {
    position: absolute;
    bottom: 0;
   left: 0;
   opacity: .6;
  }

  .testimonial-one__slider-box {
    .testi-shape {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__bg-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    z-index: -3;
    filter: opacity(0.08);
  }
  &__clints-box {
    margin-top: 50px;
    .image {
      width: 100%;
      height: 270px;
      border-radius: 20px;
      position: relative;
      background-color: var(--theme-color-black);
      z-index: 1;
      @include media-breakpoint-down(xxl) {
        height: 100%;
      }
      @include media-breakpoint-down(lg) {
        height: 270px;
      }
      img {
        @include imgw;
        object-fit: contain;
      }
      .shape-1 {
        position: absolute;
        top: 50px;
        @include transformCenterLeft;
        z-index: -1;
      }
    }
    h3 {
      font-family: 'GT Walsheim Pro';
      font-weight: 500;
      font-size: 80px;
    }
    .rating {
      position: relative;
      z-index: 1;
      width: 100%;
      background-color: var(--theme-color1);
      padding: 26px 30px;
      text-align: center;
      border-radius: 0 0 20px 20px;
      @include media-breakpoint-down(xl) {
        padding: 25px;
      }
      .num {
        color: var(--theme-color2);
        font-size: 80px;
        line-height: 1;
      }
      .star {
        gap: 5px;
        color: var(--theme-color2);
      }
      p {
        color: var(--theme-color2);
        line-height: 25px;
        font-weight: 400;
        font-size: 16px;
        font-family: 'GT Walsheim Pro';
        margin-top: 10px;
      }
    }
  }
  &__slider-box {
    position: relative;
    padding: 60px;
    border-radius: 20px;
    background-color: #151515;
    margin-top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.15);

    @include media-breakpoint-down(xl) {
      padding: 40px;
    }
    @include media-breakpoint-down(md) {
      padding: 40px 20px;
    }
    &::after {
      @include after;
      @include transformCenterLeft;
      width: 90%;
      opacity: 0.8;
      background: var(--theme-color1);
      z-index: -1;
      top: 20px;
      border-radius: 20px;
    }
    .array-button {
      position: absolute;
      right: 60px;
      bottom: 60px;
      z-index: 1;
      .array-prev,
      .array-next {
        background: var(--theme-color-white);
        color: var(--theme-color2);

        &:hover {
          background-color: var(--theme-color1);
        }
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
  &__single-card {
    position: relative;
    .quata {
      margin-bottom: 50px;
    }
    .text {
      font-size: 24px;
      font-weight: 500;
      line-height: 208%;
      color: #FFFFFF;
      opacity: 0.6; 
      text-transform: capitalize;
      letter-spacing: initial;
      font-family: var(--body-font-family);

      @include media-breakpoint-down (xl){
          font-size: 20px;
          line-height: 180%;
        }

      @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 32px;
      }
    }
    .clints-info {
      margin-top: 45px;
      .name {
        color: var(--theme-color-white);
        font-size: 20px;
        font-weight: 500;
      }

      span {
        color: #7E8596;
      }
    }
  }
}

.testi-review-box {
  border: 1px solid rgba(255, 255, 255, 0.13);
  text-align: center;
  border-radius: 40px;
  background: #121310;
  position: relative;
  text-align: center;
  padding: 100px 80px 100px;
  padding-top: 85px;

  @include media-breakpoint-down (xxxl){
    padding-top: 75px;
    padding-bottom: 90px;
  }

  @include media-breakpoint-down (xxl){
    padding: 50px 40px 72px;
    padding-top: 80px;

    p {
      max-width: 260px;
    }
  }

  @include media-breakpoint-down (xl){
    padding: 50px 40px 50px;
    padding-top: 45px;

    p {
      max-width: 260px;
    }
  }

    .bg-shape1 {
      position: absolute;
      top: 47px;
      right: 60px;
  }

    .title {
        font-weight: 500;
        font-size: 120px;
        line-height: 100%;
        margin-bottom: 15px;
        color: var(--theme-color-white);
        line-height: 1;
        font-family: var(--heading-font-family);

        @include media-breakpoint-down (sm){
          font-size: 90px;
        }
    }

    .rating {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 10px;
      justify-content: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      margin-bottom: 32px;
      padding-bottom: 24px;


      .icon {
          color: var(--theme-color1);
          font-size: 20px;
      }
  }

  @include media-breakpoint-down (xxs){
          img {
            width: 100%;
            height: 100%;
          }
        }
}


.testimonial-block-five{
  .inner-box{
    padding: 60px;
    background: #121310;
     border: 1px solid rgba(255, 255, 255, 0.13);
     border-radius: 40px;
     position: relative;
     z-index: 99;

      .line-shape {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }

    @include media-breakpoint-down(xxxl){
      padding: 50px 45px;
    }

     @include media-breakpoint-down(md){
      padding: 40px 30px;
    }
    .text {
      color: #D9D9D9;
      font-weight: 400;
      font-size: 24px;
      line-height: 175%;
      margin-bottom: 20px;
      margin-top: 30px;
      font-family: var(--body-font-family);
      @include media-breakpoint-down(xxl){
        font-size: 23px;
      }

       @include media-breakpoint-down(md){
        font-size: 22px;
      }

      @include media-breakpoint-down(sm){
        font-size: 20px;
      }
    }
    .rating-box{
      display: flex;
      align-items: end;
      justify-content: space-between; 

      @include media-breakpoint-down (md){
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
      }

      .info-box {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 20px;
        .user-thumb {
          max-width: 75px;
          border-radius: 50%;
          padding: 3px;
          border: 2px solid var(--theme-color1);
          .user{
            max-width: 65px;
            border-radius: 50%;
            border: 5px solid var(--theme-color-white);
          }
        }
        .name {
          font-size: 24px;
          font-weight: 500;
          color: var(--theme-color-white);
          text-transform: capitalize;
        }
        .designation {
          font-size: 15px;
          font-weight: 400;
          color: #6B7280;
          text-transform: capitalize;
          display: block;
        }
      }
    }  
    
    .rating {
      color: var(--theme-color1);
      font-size: 21px;
    }
  }
}

.testimonial-section-5 {
  position: relative;

  .testimonial-slider {
    position: relative;

    .array-button {
      gap: 8px;
      position: absolute;
      top: 60px;
      right: 60px;
      z-index: 99;

      @include media-breakpoint-down (md){
        top: 30px;
        right: 30px;
      }

      .array-next,.array-prev {
        background-color: #222222;
        color: var(--theme-color-white);

        &:hover {
          background: var(--theme-color1);
        }
      }
    }
  }

  .testi-light {
    position: absolute;
    bottom: -20%;
    left: 0;
  }

  .testi-object {
      position: absolute;
      right: 6%;
      top: 15%;
  }
}

.testi-inner-3 {
    max-width: 1720px;
    margin: 0 auto;
    border-radius: 30px;
    position: relative;

    .vec-shape1 {
      position: absolute;
      left: 50px;
      bottom: 20%;
    }

     .testimonial-slider {
      .array-button {
        position: absolute;
        bottom: 10px;
        z-index: 99;
        right: 0;

        @include media-breakpoint-down (xxs){
          position: static;
          margin-top: 30px;
        }
      }
    }
}

.testimonial-block-three {
  position: relative;

  .inner-box {
    margin-left: 35px;

    @include media-breakpoint-down (xl){
      margin-left: 0;
    }
   
    .text {
      color: #D9D9D9;
      font-weight: 400;
      font-size: 24px;
      line-height: 175%;
      margin-bottom: 20px;
      margin-top: 30px;
      font-weight: 400;
      @include media-breakpoint-down(xxl){
        font-size: 23px;
      }

      @include media-breakpoint-down(xl){
        font-size: 20px;
      }

       @include media-breakpoint-down(md){
        font-size: 22px;
      }

      @include media-breakpoint-down(sm){
        font-size: 20px;
      }

       @include media-breakpoint-down(xxs){
        font-size: 17px;
      }
    }
    .rating-box{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info-box {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 20px;
        .user-thumb {
          max-width: 75px;
          border-radius: 50%;
          padding: 3px;
          border: 1px solid var(--theme-color1);
          .user{
            max-width: 65px;
            border-radius: 50%;
            border: 5px solid var(--theme-color-white);
          }
        }
        .name {
          font-size: 18px;
          font-weight: 400;
          color: var(--theme-color-white);
          text-transform: capitalize;
          margin-bottom: 5px;
        }
        .designation {
          font-size: 12px;
          font-weight: 400;
          color: var(--theme-color6);
          text-transform: uppercase;
          display: block;
        }
      }
    }  
    
    .rating {
      color: var(--theme-color1);
    }
  }
}

.testi-review-box-three {
  border-radius: 40px;
  background: var(--theme-color1);
  position: relative;
  padding: 50px 80px 80px;
  padding-top: 60px;
  z-index: 9;

  @include media-breakpoint-down (xxl){
    padding: 50px 40px 50px;
    padding-top: 45px;

    p {
      max-width: 260px;
    }
  }

  @include media-breakpoint-down (lg){
    margin-bottom: 25px;
  }

  .line-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

   .light-shape {
     position: absolute;
    bottom: -20%;
    left: -50%;
    }

    .bg-shape1 {
      position: absolute;
      top: 47px;
      right: 60px;
  }

    .title {
        font-weight: 500;
        font-size: 120px;
        line-height: 100%;
        font-family: var(--heading-font-family);
        margin-bottom: 5px;
        color: var(--theme-color-black);
        line-height: 1;

        @include media-breakpoint-down (xl){
          font-size: 90px;
        }
    }

    .rating {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 40px;
      margin-bottom: 15px;
      position: relative;
      z-index: 9;

       @include media-breakpoint-down (xl){
          margin-top: 20px;
        }

      .icon {
          color: var(--theme-color-black);
          font-size: 20px;
      }
    }

    p {
      color: var(--theme-color-black);
      position: relative;
      z-index: 9;
    }
}

.testimonial-section-3 {
  .client-item {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;

      @include media-breakpoint-down (xxl){
        flex-wrap: wrap;
        gap: 10px;
      }

     @include media-breakpoint-down (lg){
        justify-content: start;
      }

    .client-image {
        display: flex;
        align-items: center;
    }

    .icon-1 {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        border: 2px solid #000;
        margin-right: -10px;
    }

    span {
      width: 58px;
      height: 58px;
      border-radius: 50%;
      display: inline-block;
      background-color: var(--theme-color1);
      color: var(--theme-color-black);
      font-size: 18px;
      font-weight: 700;
      font-family: var(--heading-font-family);
      text-align: center;
      line-height: 58px;
      border: 2px solid #000;
  }

    p {
      font-size: 18px;
      color: var(--theme-color-white);
      font-weight: 700;
    }
  }
}

.review-block-items-4 {
  background-color: var(--theme-color1);
  border-radius: 12px;
  padding: 50px;
  position: relative;
  z-index: 9;
  @include media-breakpoint-down (xl){
    padding: 35px;
  }
  .line-1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .title {
    color: var(--theme-color-black);
    font-size: 35px;
    font-weight: 500;
    line-height: 129%;
    @include media-breakpoint-down (md){
      font-size: 24px;
    }
  }
  .info-item {
    margin-top: 225px;
    @include media-breakpoint-down (xxl){
      margin-top: 183px;
    }
    @include media-breakpoint-down (xl){
      margin-top: 210px;
    }
    @include media-breakpoint-down (md){
      margin-top: 50px;
    }
    .client-item {
      align-items: center;
      display: flex;
      gap: 16px;
      margin-top: 20px;
      @include media-breakpoint-down (xxl){
        flex-wrap: wrap;
      }
      .client-image {
        align-items: center;
        display: flex;
        img {
          width: 58px;
          height: 58px;
          border-radius: 50%;
          border: 2px solid #000;
        }
        span {
          width: 58px;
          height: 58px;
          border-radius: 50%;
          display: inline-block;
          background-color: var(--headings-color);
          color: var(--theme-color-white);
          font-size: 16px;
          font-weight: 500;
          font-family: var(--heading-font-family);
          text-align: center;
          line-height: 58px;
        }
        .icon-1 {
          margin-right: -10px;
        }
        .icon-2 {
          margin-right: -10px;
        }
        .icon-3 {
          margin-right: -10px;
        }
        .icon-4 {
          margin-right: -10px;
        }
      }
      p {
        font-size: 18px;
        color: var(--headings-color);
        font-weight: 600;
        line-height: 1.55;
        max-width: 200px;
      }
    }
  }
}

.testimonial-block-4 {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.28);
  padding: 70px 45px;
  border-radius: 12px;
  position: relative;
  z-index: 9;

  @include media-breakpoint-down (xl){
    padding: 40px;
  }

   @include media-breakpoint-down (md){
    padding: 35px;
  }

   @include media-breakpoint-down (sm){
    padding: 28px;
  }

  .line-1 {
     position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img {
        width: 100%;
        height: 100%;
      }
  }

    .top-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;

      @include media-breakpoint-down (lg){
        margin-bottom: 15px;
      }

        .title {
          color: var(--theme-color1);
        }

        .quote-icon {
          @include media-breakpoint-down (xl){
            display: none;
          }
        }
    }

    p {
      font-size: 20px;
      font-weight: 400;
      color: #D9D9D9;

       @include media-breakpoint-down (md){
       font-size: 17px;
      }

       @include media-breakpoint-down (sm){
       font-size: 16px;
      }
    }

    .testi-info-item {
      margin-top: 96px;
      display: flex;
      align-items: center;
      gap: 20px;

      @include media-breakpoint-down (xl){
        margin-top: 30px;
      }

      .info-img {
        img {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            border: 1.8px solid var(--theme-color-white);
        }
      }
    }
}

.testimonial-slider-4 {
  position: relative;

  .array-button {
    gap: 18px;
    position: absolute;
    bottom: 70px;
    right: 90px;
    z-index: 99;

    .array-next,.array-prev {
      width: initial;
      height: initial;
      background-color: transparent;
      border-radius: 0;
      color: rgba(255, 255, 255, 0.20);
      font-size: 22px;

      &:hover {
        color: var(--theme-color1);
      }
    }

    @include media-breakpoint-down (xl){
       position: static;
       margin-top: 30px;
       justify-content: center;
      }
  }

}

.testimonial-section-4 {
   position: relative;

 .testi-vec {
    position: absolute;
    top: 70px;
    right: -8%;

    @include media-breakpoint-down (xxxl){
      display: none !important;
    }
  }
}
